body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f3f3;
}

.calculator {
    width: 300px;
    margin: 100px auto;
    background-color: #f064c6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(165, 8, 8, 0.5);
    padding: 20px;
}

#display {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #dad4d4;
    color: #a59898;
    text-align: right;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #661451;
    color: #e9e4e4;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f4df25;
}

.clear {
    grid-column: span 2;
}

.equal {
    grid-column: span 2;
    background-color: #8d419e;
}

.equal:hover {
    background-color: #c413af;
}